:root {
  --bg-dark: #1e2939;
  --bg-light: #fef6ff;
  --bg-light-blue: #d6e6f2;

  --bg-hover: #d6e6f2;

  --border-dark: #37474f;

  --text-dark: #1e2939;
  --text-light: #fef6ff;
  --text-grey: rgb(132, 132, 132);

  --global-padding-x: 0 4rem;
  --global-padding-y: 2rem 0;

  --global-margin-x: 0 4rem;
  --global-margin-y: 2rem 0;
}
body {
  background-color: var(--bg-light);
  color: var(--text-dark);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

input {
  outline: none;
  padding: 4px 8px;
  border: solid 1px var(--border-dark);
}

.my-padding-x {
  padding: var(--global-padding-x);
}

.my-padding-y {
  padding: var(--global-padding-y);
}

.my-margin-x {
  margin: var(--global-margin-x);
}

.my-margin-y {
  margin: var(--global-margin-y);
}

.border-t {
  border-top: solid 1px var(--border-dark);
}

.border-r {
  border-right: solid 1px var(--border-dark);
}

.border-b {
  border-bottom: solid 1px var(--border-dark);
}

.border-l {
  border-left: solid 1px var(--border-dark);
}

.border-trbl {
  border: solid 1px var(--border-dark);
}

.app-wrapper {
  background-color: var(--bg-light-blue);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: auto;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--bg-dark);
  color: var(--text-light);
  cursor: pointer;
}

.update-forum {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);
}

.open-update-forum {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-update-forum {
  display: none;
}

.edit-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--bg-light);
  padding: 4rem;
}
